{% extends "_layout.html" %}
{% block title %}Contact{% endblock %}

{% block content %}
<div class="container my-5 bg-white shadow-sm p-4 rounded-3 text-center">
    <h2 class="mb-4 text-dark fw-light border-bottom pb-2">Stolr</h2>

    <p class="mb-3 text-dark fs-5 fw-normal">
        Founded in a small town of Norway.
    </p>
    <p class="mb-3 text-dark fs-5 fw-normal">
        Phone: +47 22 83 00 00
    </p>
    <p class="mb-3 text-dark fs-5 fw-normal">
        Address: Storgata 1, 0155 Oslo, Norway
    </p>
</div>
{% endblock %}